<h1>Ola pessoal, seja bem vindo a nossa página</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% @posts.each do |post| %>
    <% if post.description?%>
        <h2> <%= link_to post.title, post %></h2>
    <% end %>
<% end %>

<%= link_to 'Posts', posts_path %>
